<h1>Adding New Article</h1>

<%= form_with model: @article, loacl: true do |f| %>
  <% if @article.errors.any? %>
    <ul>
      <%= @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    <ul>
  <% end %>
    <li><%= f.label :title %></li>
    <li><%= f.text_field :title %></li>
    <li><%= f.label :body %></li>
    <li><%= f.text_area :body %></li>
    <li><%= f.submit "Create Article"%></li>
  </ul>
<% end %>